<div data-autotoggle="true" data-sublayer="comm_comm_documented" data-parent="landmark_parent" class="layer-sublayer js-toggle-sublayer">
  <span class="onoffswitch {{comm_comm_documented.checked}}" style='background-color: {{comm_comm_documented.color}};'><span></span></span>
  <div class="sublayer-title">Community Lands Acknowledged by Government: Documented
    {{!-- <a href="#" data-source="places_to_watch" class="source source-shape-info js-tooltip" data-description="High-priority alerts from last month">
      <svg class="icon-info-green -source"><use xlink:href="#shape-info"></use></svg>
    </a> --}}
  </div>
</div>
  <div data-autotoggle="true" data-sublayer="comm_comm_not_documented" data-parent="landmark_parent" class="layer-sublayer js-toggle-sublayer">
    <span class="onoffswitch {{comm_comm_not_documented.checked}}" style='background-color: {{comm_comm_not_documented.color}};'><span></span></span>
    <div class="sublayer-title">Community Lands Acknowledged by Government: Undocumented</div>
</div>
</div>
  <div data-autotoggle="true" data-sublayer="comm_ind_documented" data-parent="landmark_parent" class="layer-sublayer js-toggle-sublayer">
    <span class="onoffswitch {{comm_ind_documented.checked}}" style='background-color: {{comm_ind_documented.color}};'><span></span></span>
    <div class="sublayer-title">Indegenous Lands Acknowledged by Government: Documented</div>
</div>
</div>
  <div data-autotoggle="true" data-sublayer="comm_ind_not_documented" data-parent="landmark_parent" class="layer-sublayer js-toggle-sublayer">
    <span class="onoffswitch {{comm_ind_not_documented.checked}}" style='background-color: {{comm_ind_not_documented.color}};'><span></span></span>
    <div class="sublayer-title">Indegenous Lands Acknowledged by Government: Not Documented</div>
</div>
</div>
  <div data-autotoggle="true" data-sublayer="comm_ind_formal_land_claim" data-parent="landmark_parent" class="layer-sublayer js-toggle-sublayer">
    <span class="onoffswitch {{comm_ind_formal_land_claim.checked}}" style='background-color: {{comm_ind_formal_land_claim.color}};'><span></span></span>
    <div class="sublayer-title">Indegenous Lands Formal Claim</div>
</div>
</div>
  <div data-autotoggle="true" data-sublayer="comm_ind_customary_tenure" data-parent="landmark_parent" class="layer-sublayer js-toggle-sublayer">
    <span class="onoffswitch {{comm_ind_customary_tenure.checked}}" style='background-color: {{comm_ind_customary_tenure.color}};'><span></span></span>
    <div class="sublayer-title">Indegenous Lands Customary Tenure</div>
</div>
</div>
  <div data-autotoggle="true" data-sublayer="comm_comm_customary_tenure" data-parent="landmark_parent" class="layer-sublayer js-toggle-sublayer">
    <span class="onoffswitch {{comm_comm_customary_tenure.checked}}" style='background-color: {{comm_comm_customary_tenure.color}};'><span></span></span>
    <div class="sublayer-title">Community Lands Customary Tenure</div>
</div>
</div>
  <div data-autotoggle="true" data-sublayer="comm_comm_formal_land_claim" data-parent="landmark_parent" class="layer-sublayer js-toggle-sublayer">
    <span class="onoffswitch {{comm_comm_formal_land_claim.checked}}" style='background-color: {{comm_comm_formal_land_claim.color}};'><span></span></span>
    <div class="sublayer-title">Community Lands Formal Claim</div>
</div>